/* 重置浏览器默认样式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  color: #333;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0; /* 明确去除 body 的 margin */
}

#app {
  height: 100%;
  width: 100%;
}
